		h6{
			color:red;
		}
		h5{ 
			color:orange; 
		}
		h4{
			color:yellow;
		}
		h3{
			color:green;
		}
		h2{
			color:blue;
		}
		h1{
			color:purple;
		}
		
		p{
			color:#116600;
		}

		
		#h1-1{
			color:#4b0082;

		}
		#h1-2{
			color:#8900FF;
			/*color:#EE82EE;*/
		}
		body{
			background:aqua;
		}
		ol{
			color:#4A02BA
		}
