.ui.form{
	max-width:70%;
	margin: 0 auto;
}
h1,h2{
	text-align: center;
	color:blue;
}
.partent_cart{
	display: flex;
	justify-content: center;
	
}

.myfrem{
	margin-left: 25%;

}
.footer span{
	position: relative;
	top:15px;
	color:#fff;
	font-size: 20px;
}
.footer {
	height: 70px;
	width: 100%;
	background: black;
	text-align: center;
	margin-top: 15px;
}