		h1{
			color: brown;

		}
		h2 { color: brown; }
		h3{ color: purple; }
		h4{ color: red; }
		h4 { color: orange; }
		h5 { color: green; }
		h6 { color: blue; }
		body {
			background-color: yellow;
			background-image: url(https://wallpaperplay.com/walls/full/3/e/c/98713.jpg);
			background-size: contain;

		}
		.sweetie_pie
		{
			color: purple
		}
		.dreamer {
			color:#0da889;
		}
	.punk {
		color:#a8270d;
		font-size: 30px;
		text-align: center;
	}