.ui.card{
	display:inline-block;
}
.ui.form{
max-width: 70%;
margin:0 auto;
}

h1{
	color: red;
	text-align: center;
}

h2 {color: red;
	text-align: center;
	
}
.perent_cart{
	display: flex;
	justify-content: center;

} 

	.myfrem{
		margin-left: 32%

 }
.footer{
	height: 70px;
	width:100%;
	background: black;
	text-align: center;
	margin-top: 15px

}
.footer span{
	position: relative;
	top: 15px;
	color: #fff;
	font-size:20px;
}