.ui.card{
	display: inline-block;
}
.ui.form{
	max-width: 70%;
	margin: 0 auto;

}

h1 {
	color: green;
	text-align: center;
}

h2{
	color: purple;
	text-align: center;

}

.parent_cart{
	display: flex;
	justify-content: center

}

.myfrem{
	margin-left: 25%;
}

.footer{
	height: 70px;
	widows: 100%;
	background: black;
	text-align: center;
	margin-top: 15px;
}


.footer span{
	position: relative;
	top: 15px;
	color: #fff;
	font-size: 20px;
}
