.ui.card{
	display: inline-block;
}
.ui.form{
	max-width: 70%;
	margin: 0 auto;
}
h1 {
	color: red;
	text-align: center;
}
h2 {
	color:green;
    text-align:center;

}
.parent_cart{
	display: flex;
	justify-content: center;
}
.my_music{
	display: flex;
	justify-content: center;
	margin-top:15px;
	margin-bottom: 15px;

}
.myfrem{
	margin-left: 35%;
}
.footer{
	height: 70px;
	width: 100%;
	background: black;
	text-align: center;
	margin-top: 15px;
	color: white;
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}
